.filter {
  display: flex;
  justify-content: center;
}

.filters {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  padding-bottom: 56px;
  padding-top: 112px;
  border-radius: 4px;

  .filters__button {
    color: $black-color;
    background: rgba(245, 244, 250, 1);
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
  }
  .filters__button:hover {
    color: $blue-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.card-animation {
  width: 370px;
  margin-top: 40px;
  background-color: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  position: absolute;

  .card__text {
    padding: 63px 24px;
    color: $white-color;
  }
}
